<div class="row" *ngIf="developerLoaded | async">
    <h3 style="text-align: center; margin-top: 50px;">{{developer?.name}}</h3>
    <div class="col-md-4 col-lg-4">
        <img src={{developer?.avatar_url}} width="200" height="200" />
        <h5><span class="badge badge-secondary">{{developer?.followers}} Followers</span></h5>
        <h5><span class="badge badge-primary">{{developer?.public_repos}} Public repositories</span></h5>
    </div>
    <div class="col-md-4 col-lg-4">
    </div>
    <div class="col-md-4 col-lg-4"></div>
</div>